input[type=button]{
    height: 40px;
    width: 50px;
    margin: 15px;
    text-decoration-style: solid;
    border-radius: 15px;
    text-decoration-color: black;
    font-size: 21px;
}

.grp{
    display: inline-table;
}

input[type=text]{
    height: 50px;
    width: 50px;
    text-decoration-style: solid;
    font-size: 40px;
    text-align: right;
    outline: 20px;
    border-color: black;
    border-radius: 7px;
}


.cardLayout{
    text-align: center;
    height: 120px;
    width: 150px;
    border: 1px solid white;
    box-shadow: 3px 3px 10px #888888 ;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    border-left: 5px solid #0055A2;
}
